h1 {
	padding: 10px;
}

.bg-1 {
	background-color: #1abc9c; /* Green */
	color: #ffffff;
}

.bg-2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
	height: 100%;
}

input[type=text] {
	border: 2px solid black border-radius: 4px;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 3px;
	padding-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 40px;
	width: 64px;
}

input[type=text]:focus {
	border: 2px solid black
}

input[type=button], input[type=submit], input[type=reset] {
	border: 2px solid;
    border-radius: 8px;
	background-color: #2f2f2f;
	border: none;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	form-control;
}

.error{
	color: red;
	padding-right: 40px;
}

.ekko-img {
	padding-left: 60px;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}