<!DOCTYPE HTML>
<html>
<head>
<title>Brad Sucks!</title>
<script src="content-script.js"></script>
</head>
<body>
	<header> </header>

	<h1>Brad Sucks!</h1>
	<form action="#" th:action="@{/index}" th:object="${summonerName}"
		method="post">
		<p>
			Message: <input type="text" th:field="*{name}"
				placeholder="Please enter the Summoner's name" /> <input
				type="submit" value="Submit" /> <input type="reset" value="Reset" />
		</p>
	</form>

	<footer>
		<p>This is some footer content from the content page</p>
	</footer>
</body>
</html>