<!DOCTYPE html>
<html>
<head lang="en">

<title>League Dash</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">

		<h1>Result</h1>
		<p th:text="'Summoner ID: ' + ${basicSummoner.id}" />
		<p th:text="'Name: ' + ${basicSummoner.name}" />
		<p th:text="'Profile Icon ID: ' + ${basicSummoner.profileIconId}" />
		<p th:text="'Summoner Level: ' + ${basicSummoner.summonerLevel}" />
		<p th:text="'Revision Date (ms): ' + ${basicSummoner.revisionDate}" />
		<a href="/">Submit another message</a>

	</div>
</body>
</html>



