<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
	<p th:text="'Summoner ID: ' + ${basicSummoner.id}" />
	<p th:text="'Name: ' + ${basicSummoner.name}" />
	<p th:text="'Profile Icon ID: ' + ${basicSummoner.profileIconId}" />
	<p th:text="'Summoner Level: ' + ${basicSummoner.summonerLevel}" />
	<p th:text="'Revision Date(ms): ' + ${basicSummoner.revisionDate}" />
	<a href="/">Submit another message</a>
</body>
</html>